// Felipe Iregui: Varios y buenos estilos, dandole un poquito de mejora al desing de la pagina
/* CSS declarations go here */
body {
  padding: 0;
  margin: 0;
  font-family: 'PT Mono', serif;
  color: #ffffff;
}
canvas {
  display: block;
  background-color: #000000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.current-score {
  left: 20px;
}
.top-score {
  right: 20px;
}
.score {
  display: block;
  position: absolute;
  top: 15px;
  z-index: 1;
  font-size: 20px;
}
@font-face {
    font-family: starFont;
    src: url('../imports/fonts/Star.ttf') format('truetype');
}
@import url(https://fonts.googleapis.com/css?family=Sigmar+One);
.welcome, .under{
  font-family: 'starFont', cursive;
  display: block;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
  font-size: 38px;
  text-align: center;
  line-height: 1.6;
}
.controls {
  display: block;
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
  font-size: 11px;
  text-align: center;
  line-height: 1.6;
}
.endgame{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 16px;
  z-index: 1;
  text-align: center;
}
button{
  border: 4px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px;
  margin: 10px;
  font-family: 'PT Mono', serif;
  cursor: pointer;
}
button:hover{
  background-color: #ffffff;
  color: #000000;
}



@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
}
body ::-webkit-input-placeholder {
  /* WebKit browsers */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
}
body :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  opacity: 1;
  font-weight: 300;
}
body ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  opacity: 1;
  font-weight: 300;
}
body :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
}
.wrapper {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 400px;
  margin-top: -200px;
  overflow: hidden;
}
.wrapper.form-success .container h1 {
  -webkit-transform: translateY(85px);
          transform: translateY(85px);
}
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 80px 0;
  height: 400px;
  text-align: center;
}
.container h1 {
  font-size: 40px;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-timing-function: ease-in-put;
          transition-timing-function: ease-in-put;
  font-weight: 200;
}
.form, .getAn {
  padding: 20px 0;
  position: relative;
  z-index: 2;
}
a:link {
    color:grey; 
    background-color: transparent; 
    text-decoration: none;
}
.form input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  width: 250px;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: white;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  font-weight: 300;
}
.form input:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
.form input:focus {
  background-color: white;
  width: 300px;
  color: #53e3a6;
}
.form button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  background-color:white;
  border: 0;
  padding: 10px 15px;
  color: black;
  border-radius: 3px;
  width: 250px;
  cursor: pointer;
  font-size: 18px;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}
.form button:hover {
  background-color: #ffc107;
}

/* 
 Shortcuts */

@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300|Quattrocento);
@import url(https://fonts.googleapis.com/css?family=Geostar+Fill);

 .welcome2{
   font-family: 'starFont', cursive;
  display: block;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
  font-size: 10px;
  text-align: center;
  line-height: 1.6;
}

.icon-keyboard {
  cursor: pointer;
 	font-family: 'Geostar Fill';
 	speak: none;
 	font-style: normal;
 	font-weight: normal;
 	font-variant: normal;
  font-size: 2em;
	 text-transform: none;
	 line-height: 1;
	 -webkit-font-smoothing: antialiased;
  opacity: 0;
  transition: opacity 70ms linear, color 70ms linear;
  -moz-transition: opactiy 70ms linear, color 70ms linear;
  -ms-transition: opacity 70ms linear, color 70ms linear;
  -o-transition: opacity 70ms linear, color 70ms linear;
  -webkit-transition: opacity 70ms linear, color 70ms linear;
}

.icon-keyboard:before {
	content: "\e000";
}

.icon-keyboard:hover {
  color: #444;
}

.container2 li {
  padding: 15px 0;
}

.container2 li:hover .icon-keyboard {
  opacity: 1;
}

.container2 li:hover .description {
  color: whitesmoke;
}

.container2 span {
  vertical-align: middle;
} 

 .container2 li + li {
  border-top: 1px solid #cfcfcf;
}

.container2 li label {
  display: inline-block;
  
}

.sequential {
  margin: 0 5px;
} 

.description {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  transition: color 70ms linear;
  -moz-transition: color 70ms linear;
  -ms-transition: color 70ms linear;
  -o-transition: color 70ms linear;
  -webkit-transition: color 70ms linear;
  width: 300px;
} 
.description2 {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  transition: color 70ms linear;
  -moz-transition: color 70ms linear;
  -ms-transition: color 70ms linear;
  -o-transition: color 70ms linear;
  -webkit-transition: color 70ms linear;
  width: 300px;
} 
.description3 {
  color: black;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  transition: color 70ms linear;
  -moz-transition: color 70ms linear;
  -ms-transition: color 70ms linear;
  -o-transition: color 70ms linear;
  -webkit-transition: color 70ms linear;
  width: 300px;
} 

label .key:hover, .key2:hover{
 background-color: #ffc107;
 color: black;
}
.key {
  color: white;
  display: inline-block;
  background: #eee;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow: inset 0 0 25px #e8e8e8, 0 1px 0 #c3c3c3, 0 2px 0 #c9c9c9, 0 2px 3px #333;
  -moz-box-shadow: inset 0 0 25px #e8e8e8, 0 1px 0 #c3c3c3, 0 2px 0 #c9c9c9, 0 2px 3px #333;
  -webkit-box-shadow: inset 0 0 25px #e8e8e8, 0 1px 0 #c3c3c3, 0 2px 0 #c9c9c9, 0 2px 3px #333, inset 1px 0 0 #ccc, inset -1px 0 0 #ccc;
  box-sizing: border-box;
  border-top: 1px solid #efefef;
  height: 41px;
  font-family: 'Geostar Fill', sans-serif;
  margin: 0 1px;
  text-align: center;
  font-size: 28px;
  text-decoration: none;
  text-transform: uppercase;
  width: 44px;
} 

.key2 {
  color: white;
  display: inline-block;
  background: #eee;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow: inset 0 0 25px #e8e8e8, 0 1px 0 #c3c3c3, 0 2px 0 #c9c9c9, 0 2px 3px #333;
  -moz-box-shadow: inset 0 0 25px #e8e8e8, 0 1px 0 #c3c3c3, 0 2px 0 #c9c9c9, 0 2px 3px #333;
  -webkit-box-shadow: inset 0 0 25px #e8e8e8, 0 1px 0 #c3c3c3, 0 2px 0 #c9c9c9, 0 2px 3px #333, inset 1px 0 0 #ccc, inset -1px 0 0 #ccc;
  box-sizing: border-box;
  border-top: 1px solid #efefef;
  height: 41px;
  font-family: 'Geostar Fill', sans-serif;
  margin: 0 1px;
  text-align: center;
  padding-top: 4px;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  width: 84px;
} 

